{% extends 'base.html.twig' %}

{% block title %}New Adresse{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('./css/bootstrap.min.css') }}">
{% endblock %}
{% block body %}
    <h2 class="text-info">Create new Adresse</h2>

    <div class="container">
        {{ include('adresse/_form.html.twig') }}
    </div>

    <a href="{{ path('app_adresse_index') }}" class="btn btn-primary">Back to list</a>
{% endblock %}
